<div class="skills-selector">
    {% for group_name, group_choices, index in widget.optgroups %}
        {% if group_name %}
            <select class="skills-group form-select">
                <option disabled selected>{{ group_name }}</option>
                {% for option in group_choices %}
                    {% include option.template_name with widget=option %}
                {% endfor %}
            </select>
                </div>
            </div>
        {% else %}
            {% for option in group_choices %}
                {% include option.template_name with widget=option %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
